html, body {
    margin: 0px;
    background-color: #2f314f;
    color: white;
}


.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.color-login {
    color: #FF0000
}